@model IEnumerable<CountdownService.Models.MovieInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="title">
        <span class="name">Name</span>
        <span class="release-date">Release Date</span>
        <span class="days-until-release-title">Days Until Release</span>
        <span class="status">Status</span>
    </div>
    <div class="phase">Phase 1</div>
    @foreach (var item in Model.Where(x => x.Phase == 1).ToList())
    {
        <div class="film">
            <span class="film-name">
                @Html.ActionLink(item.Name, "Details", "Home", new { movieId = item.ID }, null)
            </span>
            <span class="release-date">@item.ReleaseDate.ToLongDateString()</span>
            <span class="days-until-release"></span>
            <span class="status">@item.Status</span>
        </div>
    }
    <div class="phase">Phase 2</div>
    @foreach (var item in Model.Where(x => x.Phase == 2).ToList())
    {
        <div class="film">
            <span class="film-name">
                <a href="">@item.Name</a>
            </span>
            <span class="release-date">@item.ReleaseDate.ToLongDateString()</span>
            <span class="days-until-release"></span>
            <span class="status">@item.Status</span>
        </div>
    }
    <div class="phase">Phase 3</div>
    @foreach (var item in Model.Where(x => x.Phase == 3).ToList())
    {
        <div class="film">
            <span class="film-name">
                <a href="">@item.Name</a>
            </span>
            <span class="release-date">@item.ReleaseDate.ToLongDateString()</span>
            <span class="days-until-release"></span>
            <span class="status">@item.Status</span>
        </div>
    }
</div>
